<!DOCTYPE html>  
<html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>{% block title %}{% endblock %}</title>
        {% load static %}  
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    </head> 
    <body>
        <div class="container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('#data_users_table').DataTable();
            } );
        </script>
    </body> 
</html>