{% extends "formapp/layout.html" %}

{% block body %}

    <h2>Por favor complete los siguientes campos:</h2>

    <form action="{% url 'send_data' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="nombres" placeholder="Nombres">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="apellidos" placeholder="Apellidos">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="correo" placeholder="Correo electrónico">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="ciudad" placeholder="Ciudad">
        </div>
        <input class="btn btn-primary" type="submit" value="Enviar!">
    </form>

{% endblock %}